.s2_toolbar_button{
    margin: 0 10px 0 0;
    height:60px;
    width:60px;
}

.dashpicker_btn_img {
    background-image: url('../images/binoculars60x60.png') !important;
}
.datasource_btn_img {
    background-image: url('../images/folder60x60.png') !important;
}
.smartcow_btn_img {
    background-image: url('../images/cow60x60.png') !important;
}

.alerts_btn_img {
    background-image: url('../images/alert_empty60x60.png') !important;
}
.alerts_btn{
    background-color:#bbb;
    display:block;
    padding:10px;
    height:50px;    
}

.toolbar_view{
    padding:1px;
    background-color:#bbb;
}
.content_view{
    
}


/*THEME DEFAULTS*/
.x-panel-body-default{
    /*background-color: #fff;
    color:#000;*/
}
.x-btn-center span{
    color:#fff !important;
}
.x-btn-default-small{
    /*
    background-color: #000;
    color:#fff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    padding: 2px 2px 2px 2px;
    border-width: 0px;
    border-style: solid;
    background-image: none;
    background-color: #000;
    */
    /*
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFF), color-stop(48%, #F9F9F9), color-stop(52%, #E2E2E2), color-stop(100%, #E7E7E7));
    background-image: -webkit-linear-gradient(top, #FFF,#F9F9F9 48%,#E2E2E2 52%,#E7E7E7);
    background-image: -moz-linear-gradient(top, #ffffff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    background-image: -o-linear-gradient(top, #ffffff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    background-image: -ms-linear-gradient(top, #ffffff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
    */
}